/* CSS DOCUMENT*/
@charset "utf-8";

@font-face {
    font-family: "Basteleur";
    src: url(fuentes/Basteleur-Moonlight.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Basteleur";
    src: url(fuentes/Basteleur-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --estrella: #7C6DEE;
    --fugaz: #E5EE63;
    --polvo: #EDEDEE;
    --espacio: #53544F;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: var(--espacio);
}

header {
    background-color: var(--estrella);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 68px 0px;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;

}


footer {
    background-color: var(--estrella);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 20vh;
    padding: 0 50px;
}

.estrella-footer {
    position: absolute;
    left: 928px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 27px;
    flex-direction: row;
}

ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 0px;
}

li {
    list-style: none;
    color: var(--polvo);
}


* {
    font-family: "Rosario", sans-serif;
    font-size: 1.12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.76rem;
    text-wrap-style: balance;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.estrella-header {
    animation: girar 12s linear infinite;
    transition: .3s ease;
}

.estrella-header:hover {
    content: url(img/svg/verde_logo_header.svg);
}

.botonera {
    color: var(--polvo);
    border: solid 2px;
    border-radius: 15px;
    padding: 0px 23px;
}

.botonera:hover {
    background-color: var(--fugaz);
    color: var(--estrella);
}

.botonera-negra {
    color: var(--espacio);
    border: solid 2px;
    border-radius: 15px;
    padding: 0px 23px;
}

.botonera-negra:hover {
    background: var(--fugaz);
    color: var(--estrella);
}


h1 {
    font-family: 'Basteleur', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    color: var(--espacio);
}

.h1-verde {
    color: var(--fugaz);
}

.h1-violeta {
    color: var(--estrella);
}

h2 {
    font-family: Basteleur;
    font-size: 1.78rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    color: var(--fugaz)
}

.h2-negro {
    color: var(--espacio);
}


h3 {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem;
    color: var(--polvo);
}

.h3-negro {
    color: var(--espacio);
}

h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
    color: var(--fugaz);
}

p {
    text-align: left;
    max-width: 1025px;
    color: var(--polvo);
}

.p-negro {
    color: var(--espacio);
}

.italic {
    font-style: italic;
}

.bajada {
    font-size: 1.85rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--espacio);
}

/*index*/

#hero {
    background-image: url(img/72dpi/estrellas_hero.jpg);
    background-position: center;
    height: 790px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 35px;
}

.sobre-mi-contenedor {
    display: flex;
    align-items: center;
    max-width: 65%;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.columna-sobremi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.conjunto-icons {
    display: flex;
    align-items: center;
    gap: 222px;
    align-self: stretch;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#peces:hover img {
    content: url(img/svg/pecesbeso.svg);
}

#gato:hover img {
    content: url(img/svg/gatoestrella.svg);
}

#zz:hover img {
    content: url(img/svg/zzestrella.svg);
}

#invitacion {
    background: url(img/72dpi/te_invito_a_ver_mi\ portfolio.jpg) lightgray 50% / cover no-repeat;
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px;
}

/*curriculum*/


summary {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 36px 40px 20px;
    border-bottom: solid 3px var(--estrella);
    justify-content: space-between;
    margin-bottom: -20px;
    cursor: pointer;
}

details[open] summary {
    margin-bottom: 10px;
    transition: margin 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

details[open] summary img {
    transition: transform .4s ease;
    transform: rotate(20deg);
}

#desplegable {
    margin: 0% 12% 2%;
    padding: 70px 50px;
}

#info-curriculum {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    border-top: solid 2px var(--espacio);
    padding-top: 30px;
}

#cv-sobremi {
    background: var(--polvo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 78px;
    gap: 35px;
}

#escribime {
    color: var(--espacio);
    background-color: var(--fugaz);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    text-decoration: none;
}

#escribime:hover h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fugaz);
    background-color: var(--espacio);
    width: 1920px;
    height: 85px;
}

.info {
    padding: 54px 42px 26px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--polvo);
    justify-content: space-between;
}

.habilidades-li {
    display: flex;
    justify-content: space-evenly;
    padding: 45px 30px;
    border-bottom: solid 1px var(--polvo);
}

#apps {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

/*contacto*/

.contacto-body {
    background-image: url(img/72dpi/estrellas_contacto.jpg);
}

.main-contacto {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.idea {
    width: 47%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 42vw;
    height: 80vh;
    background-color: var(--espacio);
    gap: 33px;
    padding: 65px;
    justify-content: center;
}


form section {
    display: flex;
    flex-direction: row;
    max-width: 475px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form div {
    display: flex;
    flex-direction: column;
}

.check-list {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

label {
    font-weight: 700;
    color: var(--polvo);
    display: flex;
    align-items: center;
    gap: 11px;
}

input {
    background-color: var(--polvo);
    border-radius: 15px;
    padding: 8px;
    border: solid 1px var(--polvo);
}

textarea {
    border-radius: 32px;
    max-width: 676px;
    min-height: 300px;
    padding: 8px;
}

.button-enviar {
    background-color: var(--espacio);
    color: var(--polvo);
    width: 15%;
    padding: 0;
    border-color: var(--polvo);
}

.button-enviar:hover {
    color: var(--estrella);
    background-color: var(--fugaz);
}

input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--polvo);
    border-radius: 3px;
}

input[type="checkbox"]:checked {
    background: url(img/svg/checked.svg) center/100% no-repeat;
    background-color: var(--polvo);
}

/*portfolio*/

#intro-portfolio {
    background-image: url(img/72dpi/estrellas_portfolio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeria {
    display: flex;
    justify-content: center;
    margin: 5% 0%;
    flex-direction: column;
    align-items: center;
}

.subtitulo-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: solid 1px var(--polvo);
}

#diseño-grafico {
    display: flex;
    max-width: 946px;
    row-gap: 24px;
    column-gap: 29px;
    flex-wrap: wrap;
    padding: 20px 0px 65px;
}

#ilustracion {
    display: flex;
    max-width: 958px;
    row-gap: 24px;
    column-gap: 29px;
    flex-wrap: wrap;
    padding-top: 30px;
}

#diseño-grafico img, #ilustracion img {
    border-radius: 25px;
    transition: .4s ease;
    filter: grayscale(100%);
}

#diseño-grafico img:hover, #ilustracion img:hover {
    filter: grayscale(0%);
    transform: scale(1.03)
}

@media screen and (max-width: 500px) {

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .bajada {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    header {
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 15vh;
    }

    .estrella-header {
        height: auto;
    }

    a {
        display: flex;
        justify-content: center;

    }

    .botonera {
        padding: 0px 14px;
        font-size: 1rem;
    }

    .h2-negro {
        color: var(--polvo)
    }

    .botonera-negra {
        color: var(--fugaz);
    }

    nav {
        gap: 5px;
    }

    .contenedor {
        width: 73%;
    }

    #hero {
        flex-direction: column;
    }

    .contenedor {
        align-items: center;
    }

    .estrella-foto {
        max-width: 80vw;
        height: auto;
    }

    .sobre-mi-contenedor {
        flex-direction: column;
    }

    .columna-sobremi {
        width: 100%;
    }

    .conjunto-icons {
        gap: 44px;
        width: 100%;
        flex-direction: column-reverse;
    }

    footer {
        flex-direction: column-reverse;
        align-content: center;
    }

    footer p {
        text-align: center;
    }

    .estrella-footer {
        position: static;
    }

    #invitacion {
        align-items: center;
    }
}