/* CSS DOCUMENT*/
@charset "utf-8";

@font-face {
    font-family: "Basteleur";
    src: url(fuentes/Basteleur-Moonlight.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Basteleur";
    src: url(fuentes/Basteleur-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: bold;
}

/* Aplicaciones de tipo, color y tamaños*/

body {
    background-color: #EDEDEE;
}

header {
    background-color: #7c6dee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 40px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    align-content: center;
    border-radius: 20px;
    padding: 20px 40px 30px;
    background-color: #53544f;
}

/* contenedor del header */

.contenedor {
    display: flex;
    width: 100vw;
    max-width: 1200px;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: content;
    gap: 20px;
}


footer {
    background-color: #7c6dee;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20vh;
}

ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 0px;
}

/*esta class es del ul del footer*/

.lista-footer {
    flex-direction: row;
    gap: 42px;
}

* {
    font-family: "Rosario", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-wrap-style: balance;
    margin: 0;
    box-sizing: border-box;
}

p {
    text-align: left;
    max-width: 1025px;
    color: #F3F3F3;
}

li {
    list-style: none;
    line-height: 35px;
}

nav {
    display: flex;
    gap: 70px;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    color: #edf0ea;
    text-decoration: none;
    font-weight: 600;
}

.boton-contacto {
    color: #7C6DEE;
    background-color: #E8F164;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

h1 {
    font-family: 'Basteleur', serif;
    font-weight: normal;
    font-size: 2.8rem;
    color: #7C6DEE;
}


h2 {
    font-family: 'Rosario', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2.2rem;
    color: rgb(64 61 99);
    line-height: 2rem;
}

#quien {
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: #E4EE52;
    line-height: 3rem;
}

h3 {
    font-size: 1.5rem;
    padding: 10px 6px 10px;
    background-color: #e5ee63;
    max-width: fit-content;
    border-radius: 10px;
    color: #7C6DEE;
}

h4 {
    font-style: normal;
    padding: 10px 0px 0px;
    color: #7072EB
}

h5 {
    font-style: italic;
    font-weight: 300;
}

.compu3 {
    color: #EDEDEE;
}

h6 {
    font-family: "Rosario", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #F3F3F3;
    line-height: 2rem;
}


/*secciones, clases, articulos*/

#presentación {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px 0px 50px;
    gap: 25px;
    align-items: flex-end;
    border-bottom: 1px solid #7C6DEE;
}

#hero {
    padding: 45px;
    display: flex;
    margin: 20px 40px;
    gap: 30px;
}


#habilidades-contenedor {
    display: flex;
    align-items: baseline;
    width: 60%;
    gap: 50px;
}

.tarjeta-habilidades {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 40px;
    border: 1px solid #7072eb;
    border-radius: 20px;
    flex-grow: 1;
}

.tarjeta-experiencia {
    display: flex;
    padding: 30px 30px 30px 40px;
    flex-direction: column;
    border: 1px solid #7072eb;
    border-radius: 20px;
    flex-grow: 2;
    background: none;
}

#trabajos {
    background-color: #555652;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 55px 0px;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.trabajos-article {
    display: flex;
    background: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


#ultimos-proyectos {
    font-size: 2rem;
    color: #EDEDEE;
}

.nombre-trabajo {
    color: #EDEDEE
}

#final {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}